<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/user-template::user-layout(~{::title}, ~{::section})" >
<head>
	<meta charset="UTF-8" />
	<title>Add Contact</title>
</head>
<body>
	<section class="d-flex">
		<div class="container input ">
			<div class="container bg-white round">
			
				<h2 class="text-center py-2"><strong>Add Your Contact</strong></h2>
				
				<div class="container p-2" style="width: 90%">
				
					<form th:action="@{/user/process-contact}" method="post" th:object="${contact}" enctype="multipart/form-data" >
						
						
						<div class="form-control">
						
							<div class="d-flex flex-column align-items-center justify-content-center">
							
								<img alt="profile" th:src="@{/img/defaultProfile.png}"
								 id="profile-pic" class="rounded-circle img-fluid border" width="120">
								 
								<input type="file" id="imgupload" class="d-none" name="profileImage" />
								
								<i class="fa-regular fa-pen-to-square m-1" onclick="uploadImage()"></i>
								
							</div>
										
							<div class="input-group my-1">
								<div class="input-group-prepend">	
									<div class="input-group-text ">
										<i class="fas fa-user-alt"></i>
									</div>
								</div>
											
								<input class="form-control" type="text" name="name" th:value="${contact.name}"
								placeholder="Enter name" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : '' }">
								
								<div class="invalid-feedback container" >
									<p th:each="err : ${#fields.errors('name')}" th:text="${err}"></p>
								</div>
							</div>
							
							<div class="input-group my-1">
								<div class="input-group-prepend">	
									<div class="input-group-text ">
										<i class="fa fa-plus"></i>
									</div>
								</div>
											
								<input class="form-control" type="text" th:value="${contact.nickName}"
								name="nickName" placeholder="Enter nick name" >
							</div>
							
							
							<div class="input-group my-1">
								<div class="input-group-prepend">	
									<div class="input-group-text ">
										<i class="fa-solid fa-phone"></i>
									</div>
								</div>
											
								<input class="form-control" type="text" name="phone" th:value="${contact.phone}"
								placeholder="Enter phone number" th:classappend="${#fields.hasErrors('phone') ? 'is-invalid' : ''}">
								
								<div class="invalid-feedback container">
									<p th:each="err : ${#fields.errors('phone')}" th:text="${err}" ></p>
								</div>
							</div>
							
							
							<div class="input-group my-1">
								<div class="input-group-prepend">	
									<div class="input-group-text ">
										<i class="fa-solid fa-at"></i>
									</div>
								</div>
											
								<input class="form-control" type="text" name="email" th:value="${contact.email}"
								placeholder="Enter email" th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}">
								
								<div class="invalid-feedback container">
									<p th:each="err : ${#fields.errors('email')}" th:text="${err}" ></p>
								</div>
							</div>
							
								
							<div class="input-group my-1">
								<div class="input-group-prepend">	
									<div class="input-group-text ">
										<i class="fa-solid fa-briefcase"></i>
									</div>
								</div>
											
								<input class="form-control" type="text" name="work" th:value="${contact.work}"
								placeholder="Enter work or profession" th:classappend="${#fields.hasErrors('work') ? 'is-invalid' : ''}" >
								
								<div class="invalid-feedback container">
									<p th:each="err : ${#fields.errors('work')}" th:text="${err}" ></p>
								</div>
							</div>
							
							
							<div class="input-group my-1">
								<div class="input-group-prepend">	
									<div class="input-group-text ">
										<i class="fa-solid fa-circle-info"></i>
									</div>
								</div>
											
								<textarea class="form-control" placeholder="Enter description"
								name="description" th:text="${contact.description}"></textarea>
							</div>
							
							<div class="container text-center">
								<button type="submit" class="btn btn-info">Submit</button>
								<button type="reset" class="btn btn-secondary">Reset</button>
							</div>
						</div>
  
						
					</form>					
				</div>
				
			</div>
			
			
		
		</div>
	</section>
</body>
</html>