<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base-template::base-layout(~{::title}, ~{::section})" >
<head>
	<meta charset="UTF-8" />
	<title>Home Page</title>
</head>
<body>
	<section>
		<div class="banner d-flex justify-content-center align-items-center">
			<div class="text-center">
		
				<h3 class="font-weight-bold">Manage Your Contacts Efficiently And Effortlessly</h3>
				<p>Start collecting your contacts in very smarter way. We provide cloud bases contact management.</p>
				
				<div>
					<a th:href="@{/user/index}"><button class="btn btn-outline-info">Start Here</button></a>
				</div>
			</div>
		</div>
	</section>
</body>
</html>