<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base-template::base-layout(~{::title},~{::section} )">
<head>
	<meta charset="UTF-8" />
	<title>Login Page</title>
</head>
<body>
	<section>
	
		<div class="mx-auto mt-5 bg-white d-flex round" style="width:80%">
		
			<div class="p-4" style="width:60%" >
			
				<h1 class="text-center text-info text-uppercase">Login !!</h1>
				
				<form th:action="@{/handle-login}" th:method="post">
									
					<div class="form-group">
						<label for="userName_field" class="text-info" >User Name</label>
						<input name="username" type="email" class="form-control" id="userName_field" required
						placeholder="Enter email"  >
							
						<small id="emailHelp" class="form-text text-muted">We'll
						never share your email with anyone else.</small>
					</div>
									
									
					<div class="form-group">
						<label for="password_field" class="text-info" >Password</label> 
						<input name="password" type="password" class="form-control" id="password_field" required
						placeholder="Enter password" >
							
					</div>
									
									
					<div class="form-group">
						<label for="remember-me"><span>Remember me</span> 
                        	<span><input id="remember-me" name="remember-me" type="checkbox"></span>
                        </label>
                        
						<div class="d-flex justify-content-between">
							<div>
								<button type="submit" class="btn btn-primary">Submit</button>
								<button type="reset" class="btn btn-secondary mx-3">Reset</button>
							</div>
							<a th:href="@{/signUp}">Not Signed? Register Here</a>
						</div>
						
					</div>
					
				</form>
				
			</div>
			<div class="d-flex justify-content-center " style="width:40%">
			
				<div class="d-flex flex-column justify-content-center  ">
					<img alt="signIn" th:src="@{/img/signin-image.jpg}" class="img-fluid">
				</div>
				
			</div>
		</div>
	</section>
</body>
</html>